* {
  cursor: default;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #5d5d5d;
  font-family: Arial, Helvetica, sans-serif;
}
* body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url("../assets/football-field.jpg");
  background-size: cover;
}
@media (max-width: 480px) {
  * body {
    background-position: center;
  }
}
* body .container {
  padding: 28px 18px;
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 18px;
  border-radius: 4px;
  border: 12px solid rgba(255, 255, 255, 0.133);
  background-color: white;
  background-clip: padding-box;
  -webkit-backdrop-filter: blur(1.33px);
          backdrop-filter: blur(1.33px);
}
@media (max-width: 480px) {
  * body .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 14px;
  }
}
* body .container .logo {
  margin: 0 auto;
  width: 48px;
}
@media (max-width: 480px) {
  * body .container .logo {
    width: 42px;
  }
}
* body .container #heading h1 {
  margin-bottom: 4px;
}
* body .container #heading h1,
* body .container #heading h3 {
  color: #0077b6;
  font-size: 14px;
  text-align: center;
}
* body .container #groups {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 18px;
}
@media (max-width: 480px) {
  * body .container #groups {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 14px;
  }
}
* body .container #groups .group {
  padding: 14px;
  width: 50%;
  border-radius: 4px;
  box-shadow: 1px 3px 6px #d0d0d0;
}
@media (max-width: 480px) {
  * body .container #groups .group {
    padding: 12px;
  }
}
* body .container #groups .group h1 {
  margin-bottom: 12px;
  color: #0077b6;
  font-size: 12px;
}
@media (max-width: 480px) {
  * body .container #groups .group h1 {
    margin-bottom: 8px;
  }
}
* body .container #groups .group ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
}
* body .container #groups .group ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
* body .container #groups .group ul li img {
  width: 18px;
}
@media (max-width: 480px) {
  * body .container #groups .group ul li img {
    width: 14px;
  }
}
* body .container #groups .group ul li p {
  font-size: 12px;
}
@media (max-width: 480px) {
  * body .container #groups .group ul li p {
    font-size: 11px;
  }
}
* body .container #shuffle {
  cursor: pointer;
  padding: 6px 14px;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  border: none;
  border-radius: 4px;
  background: #0077b6;
  color: white;
  font-size: 12px;
}
* body .container #shuffle:hover {
  background: #0080c5;
}
@media (max-width: 480px) {
  * body .container #shuffle {
    font-size: 11px;
  }
}
* body .container #shuffle i {
  margin-right: 4px;
  color: white;
}
* body .container footer {
  font-size: 11px;
  text-align: center;
}
@media (max-width: 480px) {
  * body .container footer {
    font-size: 10px;
  }
}